docker/
.tomcat/
.vnc/

**/__pycache__/
*/records/*
*/logs/*
*/static/*
*/vpnServer.py
*/webStorge/user.json
*/temp_not/
*/tmpTest/
*/config.ini
nginx.conf

static.zip
*/.inside**
*/storgeDir/*
logs/*

!*/static/*.html
!*/static/favicon.ico